.product__body {
    margin: 30px;
    padding: 10px;
}
.products {
    /* position: relative; */
    padding-top: 100px;
    width: 900px;
    align-items: center;
    margin: auto;
    background-color: var(--form);
    border-radius: 25px;
    padding: 10px;
}
h3 {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}
thead>tr {
    color: var(--color2);
}

tbody {
    color: antiquewhite;
}