.product__body {
    margin: 30px;
    padding: 10px;
}
.products {
   
    padding-top: 100px;
    width: 1200px;
    align-items: center;
    margin: auto;
    background-color: var(--form);
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}
h3 {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    color: var(--color4);
}
thead>tr {
    color: var(--color2);
}

tbody {
    color: antiquewhite;
}