<header class="header">
    <div class="header__left">
      <!-- <div>
      <img src="../assets/flipkartlogo.png" width="40" height="40" />
    </div>
    <div>
      <h2><a class="header__home" routerLink="">Flipkart</a></h2>
    </div> -->
    </div>
    <div class="header__right">
      <div>
        <a routerLink="/usercustomer"><img src="../assets/customerbtn.png" title="Customer" width="36" height="36" alt="Customer"></a>
      </div>
      <div>
        <a routerLink="/cart"><img src="../assets/cartbtn.png" title="Cart" width="36" height="36" alt="Cart"></a>
      </div>
      <div>
        <a routerLink="/userproduct"><img src="../assets/productbtn.png" title="Product" width="36" height="36" alt="Product"></a>
      </div>
      
    </div>
  </header>
  
    
  <!-- <router-outlet></router-outlet> -->
   
  