<div class="product__body">

  <h3>Products</h3>
  <div class="products">
    <table class="table ">
      <thead>
        <tr>
          <td scope="col">Product ID</td>
          <td scope="col">Product Name</td>
          <td scope="col">Price</td>
          <td scope="col">Unit</td> 
          <td scope="col">Delete</td>
          <td scope="col">Edit</td>
          <td scope="col">Cart</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{product.productID}}</td>
          <td>{{product.productName}}</td>
          <td>&#x20b9;{{product.price}}</td>
          <td>{{product.unit}}</td>
          <td><button (click)="deleteProduct(product.productID)" class="product__btn"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
                viewBox="0 0 16 16">
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
              </svg></button></td>
          <td><button (click)="setEditProductId(product)" class="product__btn"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill"
                viewBox="0 0 16 16">
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
              </svg></button></td>
          <td><button class="product__btn" (click)="addToCart(product,i)" [disabled]="checkBtnState(product.productID)" [ngClass]="product.addBtnState ? 'product__btn__clicked' : '' "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
              </svg></button></td>
        </tr>
        <tr style="text-align: center;">
          <td colspan="7"><button type="button" class="btn add__products" (click)="changeAddBtnState()">Add
              Products</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form" *ngIf="addBtnState">
    <h2>Add Product</h2>
    <div class="product__form">
      <form (ngSubmit)="addProducts()">
        <div>
          <label for="product__name">Product Name</label>
          <input type="text" id="product__name" placeholder="Enter Product Name" [(ngModel)]="productVo.productName"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="product__unit">Units</label>
          <input type="number" id="product__unit" placeholder="Enter number of units" [(ngModel)]="productVo.unit"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="product__price">Price</label>
          <input type="number" id="product__price" placeholder="Ente Price" [(ngModel)]="productVo.price"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div>
          <label for="product__supplier">Supplier Id</label>
          <input type="number" id="supplier__id" placeholder="Enter Supplier ID" [(ngModel)]="productVo.supplierID"
            [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form__button">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="edit__form" *ngIf="editBtnState">
    <h2>Edit Product</h2>
    
    <form class="edit__form1" (ngSubmit)="editProduct()">
      <div><small>Product id : {{productVo.productID}}</small></div>
      <div>
        <label for="product__name">Product Name</label>
        <input type="text" id="product__name" placeholder="Enter product name" [(ngModel)]="productVo.productName"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label for="product__unit">Unit</label>
        <input type="number" id="product__unit" placeholder="Enter units" [(ngModel)]="productVo.unit"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <label for="product__price">Price</label>
        <input type="number" id="product__price" placeholder="Enter price" [(ngModel)]="productVo.price"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form__button">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>