.product__body {
    margin: 30px;
    padding: 10px;
}


.products {
    /* position: relative; */
    padding-top: 100px;
    width: 900px;
    align-items: center;
    margin: auto;
    background-color: var(--form);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

h3 {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}


thead>tr {
    color: var(--color2);
}

tbody {
    color: antiquewhite;
}

.product__btn {
    border: none;
    background: none;
    color: white;
}

.product__btn__clicked{
    color: var(--color1);
}

.add__products {
    color: var(--color4);
    background-color: var(--color1);
}

.form h2 {
    padding-top: 10px;
    text-align: center;
}

.product__form {
    margin: auto;
    background-color: #4d4d4d;
    color: #fabb0f;
    align-items: center;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 700px;
}

.product__form div {
    margin: 10px;
    display: grid;
    flex-direction: row;
}

.product__form input {
    border-radius: 25px;
    border: 0;
}

.product__form .form__button {
    justify-content: center;
}

.product__form button {
    width: 100px;
    margin-top: 10px;
    background-color: var(--color1);
    border: 0;
    color: var(--color4);
}

.edit__form{
    margin-top: auto;
    width: 450px;
    float: right;
    position: absolute;
    top: 200px;
    right: 20px;
}

.edit__form h2{
    text-align: center;
}


.edit__form1{
    margin: auto;
    width: 400px;
    background-color: hsl(0, 0%, 0%);
    color: white;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
}

.edit__form1 div{
    margin: 10px;
    display: grid;
    flex-direction: row;
}

.edit__form1 button{
    width: 100px;
    margin-top: 10px;
    background-color: var(--color1);
    border: 0;
    color: var(--color4);
}

.edit__form1 .form__button{
    justify-content: center;
}