
/* You can add global styles to this file, and also import other style files */

/* colors */
:root{
    --color1 : #076fd1;
    --color2 : #fabb0f;
    --color3 : #5f7a61;
    --color4 : #000000;
    --form : #4d4d4d;
}


.body{
    background-image: url("bgimage2.png");
    background-size: 1400px;
    background-repeat:repeat-y;

    margin:  20px;
   
}
/* //#FADC0F */
/* #F8DA0C */