
/* You can add global styles to this file, and also import other style files */

/* colors */
:root{
    --color1 : #076fd1;
    --color2 : #fabb0f;
    --color3 : #5f7a61;
    --color4 : #000000;
    --form : #4d4d4d;
}


.body{
    background-color:#c9e0f5;
    margin:  20px;
   
}